# Medicinal Plants project

In [1]:
import pandas as pd
import numpy as np
import openpyxl

Loading the `xlsx` file for crud operations

In [2]:
#File path is saved in a variable to use in the following steps
file_path = r'C:\Users\NW\Documents\Computer Science\Yachay Tech Major\Sexto semestre\Data Bases\Final_Project\Data_cleaning\Proyecto plantas medicinales_test.xlsx'
#Excel file is loaded
excel_data = pd.ExcelFile(file_path)

Hojas presentes en el excel leído por ``pd.ExcelFile``

In [3]:
excel_data.sheet_names

['Antonio Ante',
 'Urcuquí',
 'Pimampiro',
 'Otavalo',
 'Cotacachi',
 'Ibarra',
 'formato']

# **Antonio Ante**
---

### Información sobre **Antonio Ante** sin procesar la información (excel puro)

In [4]:
antonio_ante_excel_dataframe = pd.read_excel(excel_data, sheet_name='Antonio Ante')
antonio_ante_excel_dataframe.head(3)

,N°,Imagen,Nombre Común,Nombre Científico,Uso,Unnamed: 5,Unnamed: 6,Toponimo,"Información de procedencia (De donde lo traen, o si es cultivo propio)",Lugar de distribución,Investigaciones previas,Unnamed: 11,Unnamed: 12,Unnamed: 13,Fuentes,Unnamed: 15
0,NaN,NaN,NaN,NaN,Ancestral reportado/ no comprobado,Ancestral segun fuentes vivas,Cientificamente comprobado,NaN,NaN,NaN,1,2,3,NaN,Titulo,Link
1,1.0,NaN,Manzanilla,Matricaria chamonilla/ Matricaria recutita,"La infusión de la planta (hojas, flores y rama...",Dolor de barriga.,"(1) Antioxidant, antibacterial, antifungal, an...",Introducida. Cultivada. (3) El área de distrib...,,Mercado Atuntaqui,"El Mihyaoui, A., Esteves da Silva, J. C., Char...","Shaaban M, El-Hagrassi AM, Osman AF, Soltan MM...","Akram, W., Ahmed, S., Rihan, M., Arora, S., Kh...",NaN,Plantas medicinales de los Andes ecuatorianos,https://www.beisa.dk/Publications/BEISA%20Book...
2,2.0,NaN,Oregano,Origanum vulgare,"La decocción de las hojas, endulzada con miel,...",NaN,"(1) Antimicrobial activity.(2)Antimicrobial, a...",Introducida. Cultivada. (3) The native range...,NaN,Mercado Atuntaqui,"Soltani S, Shakeri A, Iranshahi M, Boozari M. ...","Idir F, Van Ginneken S, Coppola GA, Grenier D,...","Cervato, G., Carabelli, M., Gervasio, S., Citt...",",",ESTUDIO ETNOBOTÁNICO DE PLANTAS MEDICINALES UT...,file:///C:/Users/INTEL%202020/Downloads/Agroci...

```python

In [5]:
import unicodedata

cantones_data = excel_data.sheet_names[:-1]
# OUTPUT: ['Antonio Ante', 'Urcuquí', 'Pimampiro', 'Otavalo', 'Cotacahi ', 'Ibarra'] (The format sheet is excluded as a canton.)
print(cantones_data)

general_info_db = {}

for index, canton in enumerate(cantones_data):
    canton = unicodedata.normalize('NFD', canton)
    canton = canton.encode('ascii', 'ignore').decode('utf-8')
    canton = canton.strip().replace(" ", "_").lower()
    cantones_data[index] = canton
    general_info_db[canton] = 0

print(general_info_db)
print(cantones_data)

['Antonio Ante', 'Urcuquí', 'Pimampiro', 'Otavalo', 'Cotacachi', 'Ibarra']
{'antonio_ante': 0, 'urcuqui': 0, 'pimampiro': 0, 'otavalo': 0, 'cotacachi': 0, 'ibarra': 0}
['antonio_ante', 'urcuqui', 'pimampiro', 'otavalo', 'cotacachi', 'ibarra']

In [6]:
general_info_db.keys()

dict_keys(['antonio_ante', 'urcuqui', 'pimampiro', 'otavalo', 'cotacachi', 'ibarra'])

Las columnas que se incluyen en la información general sobre las plantas medicinales se detallan a continuación.

```python
columns_general_info_db = ['nombre_comun', 'nombre_cientifico', 'toponimo', 'informacion_procedencia', 'lugar_distribucion']
```

### Información sobre **Antonio Ante** procesado (SOLO INFORMACIÓN GENERAL)

Este dataframe únicamente contiene el ``nombre_comun, nombre_cientifico, toponimo, informacion_procedencia y lugar_distribucion``

In [7]:
antonio_ante_columns_general_info_db = ['nombre_comun']

antonio_ante_nombre_comun_data = antonio_ante_excel_dataframe.loc[1:, 'Nombre Común ']
antonio_ante_nombre_cientifico_data = antonio_ante_excel_dataframe.loc[1:, 'Nombre Científico']
antonio_ante_toponimo_data = antonio_ante_excel_dataframe.loc[1:, 'Toponimo ']
urcuqui_informacion_procedencia_data = antonio_ante_excel_dataframe.loc[1:, 'Información de procedencia (De donde lo traen, o si es cultivo propio)']
antonio_ante_lugar_distribucion_data = antonio_ante_excel_dataframe.loc[1:, 'Lugar de distribución']

antonio_ante_dataframe_general_info_db = pd.DataFrame(data=list(antonio_ante_nombre_comun_data), columns=antonio_ante_columns_general_info_db)

antonio_ante_dataframe_general_info_db['nombre_cientifico'] = list(antonio_ante_nombre_cientifico_data)
antonio_ante_dataframe_general_info_db['toponimo'] = list(antonio_ante_toponimo_data)
antonio_ante_dataframe_general_info_db['informacion_procedencia'] = list(urcuqui_informacion_procedencia_data)
antonio_ante_dataframe_general_info_db['lugar_distribucion'] = list(antonio_ante_lugar_distribucion_data)

general_info_db['antonio_ante'] = antonio_ante_dataframe_general_info_db
general_info_db['antonio_ante'].head(5)

,nombre_comun,nombre_cientifico,toponimo,informacion_procedencia,lugar_distribucion
0,Manzanilla,Matricaria chamonilla/ Matricaria recutita,Introducida. Cultivada. (3) El área de distrib...,,Mercado Atuntaqui
1,Oregano,Origanum vulgare,Introducida. Cultivada. (3) The native range...,NaN,Mercado Atuntaqui
2,Malva olorosa,Malva sylvestris,Introducida. Cultivada. (3) The native range o...,NaN,Mercado Atuntaqui
3,Tilo,Sambucus nigra/ sp.,Introducida. Cultivada (3) The native range of...,NaN,Mercado Atuntaqui
4,Chilca,Baccharis latiflolia,Nativa. (3) The native range of this species i...,"Cultivo propio, Crece de forma silvestre en lo...",Mercado Atuntaqui

In [8]:
antonio_ante_dataframe_general_info_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   nombre_comun             42 non-null     object
 1   nombre_cientifico        39 non-null     object
 2   toponimo                 39 non-null     object
 3   informacion_procedencia  4 non-null      object
 4   lugar_distribucion       39 non-null     object
dtypes: object(5)
memory usage: 1.8+ KB

# **Urcuquí**
---

### Información sobre **Urcuquí** sin procesar la información (excel puro)

In [9]:
urcuqui_excel_dataframe = pd.read_excel(excel_data, sheet_name='Urcuquí')

In [10]:
urcuqui_excel_dataframe.head(3)

,N°,Imagen,Nombre Común,Nombre Científico,Uso,Unnamed: 5,Unnamed: 6,Topónimo del Sitio de Cultivo,"Información de procedencia (De donde lo traen, o si es cultivo propio)",Lugar de distribución,...,Unnamed: 13,FUENTE: Uso ancestral reportado/no comprobado,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Habitad (Mercado de Ibarra),Topónimo del Sitio de Cultivo,Lugar de distribución.1,Información de procedencia (Urcuquí)
0,NaN,NaN,NaN,NaN,Uso ancestral reportado/no comprobado,Uso ancestral según fuentes vivas,Cientificamente comprobado,NaN,NaN,NaN,...,NaN,N°,Referencia,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,NaN,Manzanilla,Matricaria chamomilla,"Estomacal, aromática, lavado vaginal, ojos irr...","Tratar todo tipo de infecciones, cura de herid...","(1) Antioxidant, antibacterial, antifungal, an...",The native range of this species is Macaronesi...,Cultivo propio o se cultiva por los alrededore...,NaN,...,NaN,1,POWO. Plantas del mundo en línea. Facilitado p...,NaN,NaN,NaN,"Ambato, Ibarra , Otavalo, Cotacachi y Urcuquí",Ambato,,Cultivo propio o se cultiva por los alrededore...
2,2.0,NaN,Toronjil,Melissa officinalis,"Nervios, cefalea, corazón (2)","Insomnio, dolor de cabeza, trastornos de la me...","(1) Antioxidant, anti-inflammatory, antispasmo...",The native range of this species is Medit. to ...,Cultivo propio o se cultiva por los alrededore...,NaN,...,NaN,2,Cerón Martínez CE. Plantas medicinales de los ...,NaN,NaN,NaN,"Ambato, Ibarra, Otavalo, Cotacachi y Urcuquí",Ambato,NaN,NaN

In [11]:
urcuqui_excel_dataframe.columns

Index(['N°', 'Imagen', 'Nombre Común ', 'Nombre Científico', 'Uso',
       'Unnamed: 5', 'Unnamed: 6', 'Topónimo del Sitio de Cultivo ',
       'Información de procedencia (De donde lo traen, o si es cultivo propio)',
       'Lugar de distribución', 'Investigaciones previas', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13',
       'FUENTE: Uso ancestral reportado/no comprobado', 'Unnamed: 15',
       'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Habitad (Mercado de Ibarra)', 'Topónimo del Sitio de Cultivo',
       'Lugar de distribución.1', 'Información de procedencia (Urcuquí)'],
      dtype='object')

### Información sobre Urcuquí procesado (SOLO INFORMACIÓN GENERAL)

Este dataframe únicamente contiene el ``nombre_comun, nombre_cientifico, toponimo, informacion_procedencia y lugar_distribucion``

In [12]:
urcuqui_columns_general_info_db = ['nombre_comun']

urcuqui_nombre_comun_data = urcuqui_excel_dataframe.loc[1:, 'Nombre Común ']
urcuqui_nombre_cientifico_data = urcuqui_excel_dataframe.loc[1:, 'Nombre Científico']
urcuqui_toponimo_data = urcuqui_excel_dataframe.loc[1:, 'Topónimo del Sitio de Cultivo ']
urcuqui_informacion_procedencia_data = urcuqui_excel_dataframe.loc[1:, 'Información de procedencia (De donde lo traen, o si es cultivo propio)']
urcuqui_lugar_distribucion_data = urcuqui_excel_dataframe.loc[1:, 'Lugar de distribución']

urcuqui_dataframe_general_info_db = pd.DataFrame(data=list(urcuqui_nombre_comun_data), columns=urcuqui_columns_general_info_db)

urcuqui_dataframe_general_info_db['nombre_cientifico'] = list(urcuqui_nombre_cientifico_data)
urcuqui_dataframe_general_info_db['toponimo'] = list(urcuqui_toponimo_data)
urcuqui_dataframe_general_info_db['informacion_procedencia'] = list(urcuqui_informacion_procedencia_data)
urcuqui_dataframe_general_info_db['lugar_distribucion'] = list(urcuqui_lugar_distribucion_data)

general_info_db['urcuqui'] = urcuqui_dataframe_general_info_db
general_info_db['urcuqui'].head(5)

,nombre_comun,nombre_cientifico,toponimo,informacion_procedencia,lugar_distribucion
0,Manzanilla,Matricaria chamomilla,The native range of this species is Macaronesi...,Cultivo propio o se cultiva por los alrededore...,NaN
1,Toronjil,Melissa officinalis,The native range of this species is Medit. to ...,Cultivo propio o se cultiva por los alrededore...,NaN
2,Sábila,Aloe vera,The native range of this species is N. Oman (H...,Cultivo propio o compra en el Mercado Amazonas,NaN
3,Dulcamara,Kalanchoe gastonis bonnieri,NaN,Cultivo propio o compra en el Mercado Amazonas,NaN
4,Cedrón,Aloysia citrodora,The native range of this species is S. Bolivia...,Cultivo propio o se cultiva por los alrededore...,NaN

In [13]:
urcuqui_dataframe_general_info_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   nombre_comun             34 non-null     object
 1   nombre_cientifico        34 non-null     object
 2   toponimo                 32 non-null     object
 3   informacion_procedencia  34 non-null     object
 4   lugar_distribucion       0 non-null      float64
dtypes: float64(1), object(4)
memory usage: 1.5+ KB

# **Pimampiro**
---

### Información sobre **Pimampiro** sin procesar la información (excel puro)

In [14]:
pimampiro_excel_dataframe = pd.read_excel(excel_data, sheet_name='Pimampiro')

In [15]:
pimampiro_excel_dataframe.head(3)

,N°,Imagen,Nombre Común,Nombre Científico,Uso,Unnamed: 5,Unnamed: 6,Toponimo,"Información de procedencia (De donde lo traen, o si es cultivo propio)",Lugar de distribución,Investigaciones previas,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,Ancestral reportado/ no comprobado,Ancestral segun fuentes vivas,Cientificamente comprobado,NaN,NaN,NaN,1,2,3
1,1.0,NaN,Oregano,Origanum vulgare,"La decocción de las hojas, endulzada con miel,...",NaN,"(1)Antimicrobial activity. (2)Antimicrobial, ...",The native range of this species is S. Bolivia...,NaN,Mercado Atuntaqui,"Soltani S, Shakeri A, Iranshahi M, Boozari M. ...","Idir F, Van Ginneken S, Coppola GA, Grenier D,...",NaN
2,2.0,NaN,Hojas de higo,Ficus carica,"Circulación, estomacal, baño posparto (Ceron, ...",NaN,(1)Cancer prevention and therapy. (2) as antio...,The native range of this species is E. Medit. ...,Pimampiro: Cultivo propio,NaN,"Morovati MR, Ghanbari-Movahed M, Barton EM, Fa...","Hajam TA, H S. Phytochemistry, biological acti...",NaN

In [16]:
pimampiro_excel_dataframe.columns

Index(['N°', 'Imagen', 'Nombre Común ', 'Nombre Científico', 'Uso',
       'Unnamed: 5', 'Unnamed: 6', 'Toponimo ',
       'Información de procedencia (De donde lo traen, o si es cultivo propio)',
       'Lugar de distribución', 'Investigaciones previas', 'Unnamed: 11',
       'Unnamed: 12'],
      dtype='object')

### Información sobre **Pimampiro** procesado (SOLO INFORMACIÓN GENERAL)

Este dataframe únicamente contiene el ``nombre_comun, nombre_cientifico, toponimo, informacion_procedencia y lugar_distribucion``

In [17]:
pimampiro_columns_general_info_db = ['nombre_comun']

pimampiro_nombre_comun_data = pimampiro_excel_dataframe.loc[1:, 'Nombre Común ']
pimampiro_nombre_cientifico_data = pimampiro_excel_dataframe.loc[1:, 'Nombre Científico']
pimampiro_toponimo_data = pimampiro_excel_dataframe.loc[1:, 'Toponimo ']
pimampiro_informacion_procedencia_data = pimampiro_excel_dataframe.loc[1:, 'Información de procedencia (De donde lo traen, o si es cultivo propio)']
pimampiro_lugar_distribucion_data = pimampiro_excel_dataframe.loc[1:, 'Lugar de distribución']

pimampiro_dataframe_general_info_db = pd.DataFrame(data=list(pimampiro_nombre_comun_data), columns=pimampiro_columns_general_info_db)

pimampiro_dataframe_general_info_db['nombre_cientifico'] = list(pimampiro_nombre_cientifico_data)
pimampiro_dataframe_general_info_db['toponimo'] = list(pimampiro_toponimo_data)
pimampiro_dataframe_general_info_db['informacion_procedencia'] = list(pimampiro_informacion_procedencia_data)
pimampiro_dataframe_general_info_db['lugar_distribucion'] = list(pimampiro_lugar_distribucion_data)

general_info_db['pimampiro'] = pimampiro_dataframe_general_info_db
general_info_db['pimampiro'].head(5)

,nombre_comun,nombre_cientifico,toponimo,informacion_procedencia,lugar_distribucion
0,Oregano,Origanum vulgare,The native range of this species is S. Bolivia...,NaN,Mercado Atuntaqui
1,Hojas de higo,Ficus carica,The native range of this species is E. Medit. ...,Pimampiro: Cultivo propio,NaN
2,Plantago o Llantén,Plantago lanceolatachino,The native range of this species is Temp. Eura...,Pimampiro: Silvestre,NaN
3,Agave,Agave americana var. marginata,NaN,Pimampiro: Silvestre,NaN
4,Chuchiragua,Chuquiraga jussieui,NaN,Pimampiro: Silvestre,NaN

In [18]:
pimampiro_dataframe_general_info_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   nombre_comun             10 non-null     object
 1   nombre_cientifico        10 non-null     object
 2   toponimo                 5 non-null      object
 3   informacion_procedencia  9 non-null      object
 4   lugar_distribucion       1 non-null      object
dtypes: object(5)
memory usage: 532.0+ bytes

# **Otavalo**
---

### Información sobre **Otavalo** sin procesar la información (excel puro)

In [19]:
otavalo_excel_dataframe = pd.read_excel(excel_data, sheet_name='Otavalo')

In [20]:
otavalo_excel_dataframe.head(3)

,N°,Imagen,Nombre Común,Nombre Científico,Uso,Unnamed: 5,Unnamed: 6,Topónimo del Sitio de Cultivo,"Información de procedencia (De donde lo traen, o si es cultivo propio)",Lugar de distribución,Investigaciones previas,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,FUENTE: Uso ancestral reportado/no comprobado,Unnamed: 16
0,NaN,NaN,NaN,NaN,Uso ancestral reportado/no comprobado,Uso ancestral según fuentes vivas,Cientificamente comprobado,NaN,NaN,NaN,1,2,3,NaN,NaN,N°,Referencia
1,1.0,NaN,Cardo Mariano,Silybum marianum,Coadyuvante en casos de hepatotoxicidad.(3),Coadyuvante en casos de hepatotoxicidad.(3),(1) Potente compuesto antioxidante y antiinfl...,The native range of this species is Macaronesi...,Silvestre,Mercado 24 de Mayo,"Porwal, O., Ameen, M. S. M., Anwer, E. T., Uth...",Eita AAB. Milk thistle (Silybum marianum (L.)G...,NaN,NaN,NaN,1,POWO. Plantas del mundo en línea. Facilitado p...
2,2.0,NaN,Cunguna,Ruellia sp,NaN,NaN,NaN,NaN,Silvestre,Mercado 24 de Mayo,"M.R., S., & Bodke, S. (2022). PHARMACOLOGICAL ...",NaN,NaN,NaN,NaN,2,Cerón Martínez CE. Plantas medicinales de los ...

### Información sobre **Otavalo** procesado (SOLO INFORMACIÓN GENERAL)

Este dataframe únicamente contiene el ``nombre_comun, nombre_cientifico, toponimo, informacion_procedencia y lugar_distribucion``

In [21]:
otavalo_excel_dataframe.columns

Index(['N°', 'Imagen', 'Nombre Común ', 'Nombre Científico', 'Uso',
       'Unnamed: 5', 'Unnamed: 6', 'Topónimo del Sitio de Cultivo',
       'Información de procedencia (De donde lo traen, o si es cultivo propio)',
       'Lugar de distribución', 'Investigaciones previas', 'Unnamed: 11',
       'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'FUENTE: Uso ancestral reportado/no comprobado', 'Unnamed: 16'],
      dtype='object')

In [22]:
otavalo_columns_general_info_db = ['nombre_comun']

otavalo_nombre_comun_data = otavalo_excel_dataframe.loc[1:, 'Nombre Común ']
otavalo_nombre_cientifico_data = otavalo_excel_dataframe.loc[1:, 'Nombre Científico']
otavalo_toponimo_data = otavalo_excel_dataframe.loc[1:, 'Topónimo del Sitio de Cultivo']
otavalo_informacion_procedencia_data = otavalo_excel_dataframe.loc[1:, 'Información de procedencia (De donde lo traen, o si es cultivo propio)']
otavalo_lugar_distribucion_data = otavalo_excel_dataframe.loc[1:, 'Lugar de distribución']

otavalo_dataframe_general_info_db = pd.DataFrame(data=list(otavalo_nombre_comun_data), columns=otavalo_columns_general_info_db)

otavalo_dataframe_general_info_db['nombre_cientifico'] = list(otavalo_nombre_cientifico_data)
otavalo_dataframe_general_info_db['toponimo'] = list(otavalo_toponimo_data)
otavalo_dataframe_general_info_db['informacion_procedencia'] = list(otavalo_informacion_procedencia_data)
otavalo_dataframe_general_info_db['lugar_distribucion'] = list(otavalo_lugar_distribucion_data)

general_info_db['otavalo'] = otavalo_dataframe_general_info_db
general_info_db['otavalo'].head(5)

,nombre_comun,nombre_cientifico,toponimo,informacion_procedencia,lugar_distribucion
0,Cardo Mariano,Silybum marianum,The native range of this species is Macaronesi...,Silvestre,Mercado 24 de Mayo
1,Cunguna,Ruellia sp,NaN,Silvestre,Mercado 24 de Mayo
2,Toronjil,Melissa officinalis,The native range of this species is Medit. to ...,(Laguna de Mojanda) Silvestre,Mercado 24 de Mayo
3,Hierba buena,Mentha spicata,The native range of this species is Europe to ...,"Cotama, Silvestre",Mercado 24 de Mayo
4,Pataconyuyo,Peperomia peltigera,The native range of this species is Ecuador. (1),"Cotama, Silvestre",Mercado 24 de Mayo

In [23]:
otavalo_dataframe_general_info_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   nombre_comun             19 non-null     object
 1   nombre_cientifico        19 non-null     object
 2   toponimo                 18 non-null     object
 3   informacion_procedencia  15 non-null     object
 4   lugar_distribucion       19 non-null     object
dtypes: object(5)
memory usage: 892.0+ bytes

# **Cotacachi**
---

### Información sobre **Cotacachi** sin procesar la información (excel puro)

In [24]:
cotacachi_excel_dataframe = pd.read_excel(excel_data, sheet_name='Cotacachi')

In [25]:
cotacachi_excel_dataframe.head(3)

,N°,Imagen,Nombre Común,Nombre Científico,Usos,Unnamed: 5,Unnamed: 6,Topónimo del Sitio de Cultivo,"Información de procedencia (De donde lo traen, o si es cultivo propio)",Lugar de distribución,Investigaciones previas,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,Uso ancestral reportado/no comprobado,Uso ancestral según fuentes vivas,Cientificamente comprobado,NaN,NaN,NaN,1,2,NaN
1,1.0,NaN,Llantén,Plantago major,"Desinflamatorio de la piel, , de las vías urin...","Tos, la congestión, afecciones respiratorias.C...","(1) Antimicrobial, antiviral, and anti-inflamm...",The native range of this species is Temp. Eura...,NaN,Sede del Jambi Mascari en Cotacachi,"Flores, I. G. (2009). Perspectivas de uso de E...",NaN,NaN
2,2.0,NaN,Flor de Tilo,Tilia platyphyllos Scop,"Tos, resfrío, bronquitis, nervios (2)","Efectos relajantes y sedantes, Calmar los nerv...","(1)Antioxidant, anti-inflammatory, anticancer,...","The native range of this species is Azores, Eu...",NaN,"Cotacahi, Quiroga","Liu D, He XQ, Wu DT, Li HB, Feng YB, Zou L, Ga...","Przybylska-Balcerek A, Szablewski T, Szwajkow...",NaN

### Información sobre **Cotacachi** procesado (SOLO INFORMACIÓN GENERAL)

Este dataframe únicamente contiene el ``nombre_comun, nombre_cientifico, toponimo, informacion_procedencia y lugar_distribucion``

In [26]:
cotacachi_excel_dataframe.columns

Index(['N°', 'Imagen', 'Nombre Común ', 'Nombre Científico', 'Usos',
       'Unnamed: 5', 'Unnamed: 6', 'Topónimo del Sitio de Cultivo',
       'Información de procedencia (De donde lo traen, o si es cultivo propio)',
       'Lugar de distribución', 'Investigaciones previas', 'Unnamed: 11',
       'Unnamed: 12'],
      dtype='object')

In [27]:
general_info_db.keys()

dict_keys(['antonio_ante', 'urcuqui', 'pimampiro', 'otavalo', 'cotacachi', 'ibarra'])

In [28]:
cotacachi_columns_general_info_db = ['nombre_comun']

cotacachi_nombre_comun_data = cotacachi_excel_dataframe.loc[1:, 'Nombre Común ']
cotacachi_nombre_cientifico_data = cotacachi_excel_dataframe.loc[1:, 'Nombre Científico']
cotacachi_toponimo_data = cotacachi_excel_dataframe.loc[1:, 'Topónimo del Sitio de Cultivo']
cotacachi_informacion_procedencia_data = cotacachi_excel_dataframe.loc[1:, 'Información de procedencia (De donde lo traen, o si es cultivo propio)']
cotacachi_lugar_distribucion_data = cotacachi_excel_dataframe.loc[1:, 'Lugar de distribución']

cotacachi_dataframe_general_info_db = pd.DataFrame(data=list(cotacachi_nombre_comun_data), columns=cotacachi_columns_general_info_db)

cotacachi_dataframe_general_info_db['nombre_cientifico'] = list(cotacachi_nombre_cientifico_data)
cotacachi_dataframe_general_info_db['toponimo'] = list(cotacachi_toponimo_data)
cotacachi_dataframe_general_info_db['informacion_procedencia'] = list(cotacachi_informacion_procedencia_data)
cotacachi_dataframe_general_info_db['lugar_distribucion'] = list(cotacachi_lugar_distribucion_data)

general_info_db['cotacachi'] = cotacachi_dataframe_general_info_db
general_info_db['cotacachi'].head(5)

,nombre_comun,nombre_cientifico,toponimo,informacion_procedencia,lugar_distribucion
0,Llantén,Plantago major,The native range of this species is Temp. Eura...,NaN,Sede del Jambi Mascari en Cotacachi
1,Flor de Tilo,Tilia platyphyllos Scop,"The native range of this species is Azores, Eu...",NaN,"Cotacahi, Quiroga"
2,Hierba Mora,Solanum americanum,The native range of this species is W. & S. Eu...,NaN,"Cotacahi, Quiroga , Azama"
3,Borraja,Borago officinalis L.,The native range of this species is W. & Centr...,NaN,Cotacachi/ Laguna de cuicocha
4,Tomillo,Thymus vulgaris L.\nLAM-022,The native range of this species is SW. Europe...,NaN,NaN

In [29]:
cotacachi_dataframe_general_info_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   nombre_comun             43 non-null     object
 1   nombre_cientifico        43 non-null     object
 2   toponimo                 28 non-null     object
 3   informacion_procedencia  17 non-null     object
 4   lugar_distribucion       8 non-null      object
dtypes: object(5)
memory usage: 1.8+ KB

In [30]:
print(cotacachi_dataframe_general_info_db['nombre_comun'].value_counts)

<bound method IndexOpsMixin.value_counts of 0                            Llantén
1                       Flor de Tilo
2                        Hierba Mora
3                            Borraja
4                            Tomillo
5                          Eucalipto
6                            Verbena
7                               Ruda
8                             Matico
9                              Menta
10                           Arrayan
11                       Uña de gato
12                            Chulco
13                               Ajo
14                      Zorro guigua
15                            Cedrón
16                             Marco
17                            Eneldo
18                              Apio
19                            Ñachag
20                           Pacunga
21                        Platanillo
22                   Hierba de perro
23                             Paico
24                            Canela
25                        Botoncillo
26                          Mosquera
27                         Corotilla
28                      Hierba Luisa
29                               Iso
30    Chupa caballo, Cola de caballo
31                           Geranio
32                            Cerote
33                             Nogal
34                            Linaza
35                        Manzanilla
36                      Hierba buena
37                          Albahaca
38                          Mejorana
39                           Orégano
40                      Pata conyuyo
41                    Diente de león
42                            Ortiga
Name: nombre_comun, dtype: object>

# **Ibarra**
---

### Información sobre **Ibarra** sin procesar la información (excel puro)

In [31]:
ibarra_excel_dataframe = pd.read_excel(excel_data, sheet_name='Ibarra')

In [32]:
ibarra_excel_dataframe.head(5)

,N°,Imagen,Nombre Común,Nombre Científico,Uso,Unnamed: 5,Unnamed: 6,Topónimo del Sitio de Cultivo,Lugar de distribución,Información de procedencia,Investigaciones Previas,Unnamed: 11,Unnamed: 12,Unnamed: 13,Referencias,Unnamed: 15
0,NaN,NaN,NaN,NaN,Uso ancestral reportado/no comprobado,Uso ancestral según fuentes vivas,Cientificamente comprobado,NaN,NaN,NaN,1,2,3,NaN,Uso ancestral reportado/no comprobado,Topónimo del Sitio de Cultivo
1,1.0,NaN,Manzanilla,Matricaria recutita L,"La infusión de la planta (hojas, flores y rama...",Para curar dolores estomacales,"(1) Antioxidant, antibacterial, antifungal, an...",Introducida (Eurasia). Cultivada.,"Cultivo propio o se adquiere de Ambato (Hojas,...",Mercado Mayorista y Amazonas,"El Mihyaoui, A., Esteves da Silva, J. C., Char...","Shaaban M, El-Hagrassi AM, Osman AF, Soltan MM...",NaN,NaN,Enciclopedia de las Plantas Útiles del Ecuador...,Enciclopedia de las Plantas Útiles del Ecuador...
2,2.0,NaN,Toronjil,Melissa officinalis,Las hojas aplastadas de la planta se utilizan ...,"Tratar estados depresivos y nerviosos, insomni...","(1) Antioxidant, anti-inflammatory, antispasmo...",Introducida (Su origen se encuentra en el área...,Ambato (Hojas frescas),Mercado Mayorista y Amazonas,"Zam W, Quispe C, Sharifi-Rad J, López MD, Scho...",NaN,NaN,NaN,Enciclopedia de las Plantas Útiles del Ecuador...,"1. L. de la Torre, H. Navarrete, P. Muriel M.,..."
3,3.0,NaN,Sábila,Aloe vera,De las hojas se extraen componentes que inhibe...,Es un excelente cicatrizante,"(1) Anti-cancer action, skin and digestive pr...",Introducida (Aloe vera es originaria de África...,Atuntaqui y Natabuela (Hojas frescas),Mercado Mayorista y Amazonas,"Sánchez M, González-Burgos E, Iglesias I, Góme...","Liang J, Cui L, Li J, Guan S, Zhang K, Li J. A...",NaN,NaN,Enciclopedia de las Plantas Útiles del Ecuador...,1. Enciclopedia de las Plantas Útiles del Ecua...
4,4.0,NaN,Dulcamara,Kalanchoe gastonis bonnieri,"Afecciones pulmonares, del aparato urogenital,...",Anticancerigeno,(1)Anti-ulcerogenic (2) Anti bacterial (3) t...,Introducida (noroeste y el centro de Madagasca...,Ambato (Hojas frescas),Mercado Mayorista y Amazonas,"Abdalla SL, Costa SS, Gioso MA, Casanova LM, C...",NaN,NaN,NaN,Organismo Andino de Salud – Convenio Hipólito ...,"Palumbo A, Casanova LM, Corrêa MFP, Da Costa N..."

### Información sobre **Ibarra** procesado (SOLO INFORMACIÓN GENERAL)

Este dataframe únicamente contiene el ``nombre_comun, nombre_cientifico, toponimo, informacion_procedencia y lugar_distribucion``

In [33]:
ibarra_excel_dataframe.columns

Index(['N°', 'Imagen', 'Nombre Común ', 'Nombre Científico', 'Uso',
       'Unnamed: 5', 'Unnamed: 6', 'Topónimo del Sitio de Cultivo',
       'Lugar de distribución', 'Información de procedencia ',
       'Investigaciones Previas', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Referencias', 'Unnamed: 15'],
      dtype='object')

In [34]:
ibarra_columns_general_info_db = ['nombre_comun']

ibarra_nombre_comun_data = ibarra_excel_dataframe.loc[1:, 'Nombre Común ']
ibarra_nombre_cientifico_data = ibarra_excel_dataframe.loc[1:, 'Nombre Científico']
ibarra_toponimo_data = ibarra_excel_dataframe.loc[1:, 'Topónimo del Sitio de Cultivo']
ibarra_informacion_procedencia_data = ibarra_excel_dataframe.loc[1:, 'Información de procedencia ']
ibarra_lugar_distribucion_data = ibarra_excel_dataframe.loc[1:, 'Lugar de distribución']

ibarra_dataframe_general_info_db = pd.DataFrame(data=list(ibarra_nombre_comun_data), columns=ibarra_columns_general_info_db)

ibarra_dataframe_general_info_db['nombre_cientifico'] = list(ibarra_nombre_cientifico_data)
ibarra_dataframe_general_info_db['toponimo'] = list(ibarra_toponimo_data)
ibarra_dataframe_general_info_db['informacion_procedencia'] = list(ibarra_informacion_procedencia_data)
ibarra_dataframe_general_info_db['lugar_distribucion'] = list(ibarra_lugar_distribucion_data)

general_info_db['ibarra'] = ibarra_dataframe_general_info_db
general_info_db['ibarra'].head(5)

,nombre_comun,nombre_cientifico,toponimo,informacion_procedencia,lugar_distribucion
0,Manzanilla,Matricaria recutita L,Introducida (Eurasia). Cultivada.,Mercado Mayorista y Amazonas,"Cultivo propio o se adquiere de Ambato (Hojas,..."
1,Toronjil,Melissa officinalis,Introducida (Su origen se encuentra en el área...,Mercado Mayorista y Amazonas,Ambato (Hojas frescas)
2,Sábila,Aloe vera,Introducida (Aloe vera es originaria de África...,Mercado Mayorista y Amazonas,Atuntaqui y Natabuela (Hojas frescas)
3,Dulcamara,Kalanchoe gastonis bonnieri,Introducida (noroeste y el centro de Madagasca...,Mercado Mayorista y Amazonas,Ambato (Hojas frescas)
4,Cedrón,Aloysia gratissima,Nativa (Ecuador).,Mercado Mayorista y Amazonas,Cultivo propio o se adquiere de Ambato (Hojas ...

In [35]:
ibarra_dataframe_general_info_db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   nombre_comun             30 non-null     object
 1   nombre_cientifico        30 non-null     object
 2   toponimo                 25 non-null     object
 3   informacion_procedencia  29 non-null     object
 4   lugar_distribucion       29 non-null     object
dtypes: object(5)
memory usage: 1.3+ KB

# Ingreso de datos a la base de datos MySQL
---

#### Ingresar ``nombre_comun`` y ``nombre_cientifico`` a la tabla plants

In [36]:
plants_names_db = pd.DataFrame()

In [37]:
general_info_db.keys()

dict_keys(['antonio_ante', 'urcuqui', 'pimampiro', 'otavalo', 'cotacachi', 'ibarra'])

In [38]:
for canton in general_info_db.keys():
    print(canton)
    temporal_dataframe = general_info_db[canton]
    print(type(temporal_dataframe))
    temporal_dataframe = temporal_dataframe[['nombre_comun','nombre_cientifico']]
    plants_names_db = pd.concat([plants_names_db, temporal_dataframe])

antonio_ante
<class 'pandas.core.frame.DataFrame'>
urcuqui
<class 'pandas.core.frame.DataFrame'>
pimampiro
<class 'pandas.core.frame.DataFrame'>
otavalo
<class 'pandas.core.frame.DataFrame'>
cotacachi
<class 'pandas.core.frame.DataFrame'>
ibarra
<class 'pandas.core.frame.DataFrame'>

In [39]:
plants_names_db['nombre_comun'].value_counts()

nombre_comun
Mosquera                 5
Oregano                  4
Manzanilla               4
Ruda                     4
Hierba buena             4
                        ..
Eucalipto                1
Guanabana                1
Curcuma                  1
Guayusa (Hojas secas)    1
Boldo                    1
Name: count, Length: 115, dtype: int64

In [40]:
plants_names_db_no_dup = plants_names_db.drop_duplicates(subset=['nombre_comun'], keep='first').reset_index(drop=True)

In [41]:
plants_names_db_no_dup.value_counts()

nombre_comun  nombre_cientifico
 Jamaica      Hibiscus sabdariffa                1
Agave         Agave americana var. marginata     1
Aguacate      Persea americana                   1
Ajo           Allium sativum L.                  1
Albahaca      Ocimum basilicum L. LAM-011        1
                                                ..
Uña de gato   Uncaria tomentosa                  1
Verbena       Verbena litoralis Kunth VER-008    1
Verdolaga     Portulaca oleracea                 1
Zorro guigua  Alopecurus spp.  POA-023           1
Ñachag        Bidens andicola Kunth AST-025      1
Name: count, Length: 112, dtype: int64

Inserción a la tabla `plants` en MySQL

In [42]:
import mysql.connector

config = {
    'user': 'root',          
    'password': '1234', 
    'host': '127.0.0.1',
    'port': 3306,      
    'database': 'Medicinal_plants_project',
    'charset': 'utf8mb4'
}

try:
    connection = mysql.connector.connect(**config)
    cursor = connection.cursor()
    cursor.execute("SET NAMES utf8mb4;")
    print("Conexión exitosa")
except mysql.connector.Error as err:
    print(f"Error: {err}")

Conexión exitosa

In [43]:
plants_names_db_no_dup['nombre_cientifico'] = plants_names_db_no_dup['nombre_cientifico'].fillna('no existe información')

In [44]:
plants_names_db_no_dup.head(10)

              nombre_comun                           nombre_cientifico
0               Manzanilla  Matricaria chamonilla/ Matricaria recutita
1                  Oregano                            Origanum vulgare
2            Malva olorosa                            Malva sylvestris
3                     Tilo                         Sambucus nigra/ sp.
4                   Chilca                        Baccharis latiflolia
5            Ortiga chagra                               Urtica dioica
6  Diente de león/Taraxaco                       Taraxacum  officinale
7                  Llanten                              Plantago major
8           Lengua de vaca                         Rumex  obtusifolius
9                 Toronjil                         Melissa officinalis

In [45]:
# Conversión de cada record del Dataframe a tuplas de los valores
plants_data = list(plants_names_db_no_dup[['nombre_comun', 'nombre_cientifico']].itertuples(index=False, name=None))
for i in range(10):
    print(plants_data[i])

('Manzanilla', 'Matricaria chamonilla/ Matricaria recutita')
('Oregano', 'Origanum vulgare')
('Malva olorosa', 'Malva sylvestris')
('Tilo', 'Sambucus nigra/ sp.')
('Chilca', 'Baccharis latiflolia')
('Ortiga chagra', 'Urtica dioica')
('Diente de león/Taraxaco', 'Taraxacum  officinale')
('Llanten', 'Plantago major')
('Lengua de vaca', 'Rumex  obtusifolius')
('Toronjil', 'Melissa officinalis')

In [ ]:
query_plants = "INSERT INTO plants (current_name, scientific_name) VALUES (%s, %s)"

try:
    cursor.executemany(query_plants, plants_data)
    connection.commit() 
    print(f"{cursor.rowcount} plantas insertadas correctamente.")
except mysql.connector.Error as err:
    print(f"Error al insertar: {err}")
    connection.rollback()

115 plantas insertadas correctamente.

``detect_table_start(sheet_data)``

Automatically detects the position (row and column) where the data table begins in an Excel sheet loaded as a DataFrame.

It scans the rows looking for one with at least 4 non-null values (possible header) and returns the position found.

It is used to clean sheets that have extra information before the useful data.

In [47]:
print("as"
def detect_table_start(sheet_data):
    for row_index, row in sheet_data.iterrows():
        # Check if the row has enough non-NaN values to be a potential header
        if row.notna().sum() > 3:
            # Find the first non-NaN column index
            col_index = row.first_valid_index()
            return int(row_index+2), int(col_index) 
    return None, None

SyntaxError: '(' was never closed (1139282608.py, line 1)

In [ ]:
first_sheet_data = pd.read_excel(file_path, sheet_name=excel_data.sheet_names[0])

row_idx, col_idx = detect_table_start(first_sheet_data)
print("La tabla inicia en la fila:", row_idx, "y columna:", col_idx)

ValueError: invalid literal for int() with base 10: 'Uso'

In [ ]:
#Adjust the dataframes of a excel file
#Input: File path
#Output: Dictionary of dataframes
def adjust_the_sheets(file_path):
    dict_dataframes = {}
    excel_data = pd.ExcelFile(file_path)
    i = 0
    for sheet_name in excel_data.sheet_names:
        sheet_data = pd.read_excel(file_path,sheet_name=sheet_name,header=None,engine = 'openpyxl')
        row_idx,col_idx = detect_table_start(sheet_data)
        if i != 4:
            ##
            print(f"Sheet {sheet_name} start at {row_idx} row and {col_idx} column")
            ##
            dict_dataframes[sheet_name] = sheet_data.iloc[row_idx:,col_idx:]
        else:
            ##
            Corrected_sheet = 'Cotacachi'
            print(f"Sheet {Corrected_sheet} start at {row_idx} row and {col_idx} column")
            ##
            dict_dataframes[Corrected_sheet] = sheet_data.iloc[row_idx:,col_idx:]
        i += 1
    return dict_dataframes

In [ ]:
#Datasheets are set in a dictionary
cities_dataframes = adjust_the_sheets(file_path)

Sheet Antonio Ante start at 2 row and 0 column
Sheet Urcuquí start at 3 row and 1 column
Sheet Pimampiro start at 4 row and 0 column
Sheet Otavalo start at 3 row and 0 column
Sheet Cotacachi start at 3 row and 0 column
Sheet Ibarra start at 3 row and 1 column
Sheet formato start at 4 row and 2 column

In [ ]:
#cities_dataframes['Antonio Ante']
#cities_dataframes['Pimampiro']
#cities_dataframes['Cotacachi']

In [ ]:
#Last sheet is deleted
cities_dataframes.pop('formato')

    2    3    4    5    6    7    8    9    10   11   12  13  14
4    1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
5    2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
6    3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
7    4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
8    5  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
9    6  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
10   7  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
11   8  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
12   9  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
13  10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
14  11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN
15  12  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN NaN NaN

In [ ]:
#A list of all places of the databases are created
places_list = list(cities_dataframes.keys())
#Places of the list are printed (List)
places_list

['Antonio Ante', 'Urcuquí', 'Pimampiro', 'Otavalo', 'Cotacachi', 'Ibarra']

In [ ]:
temporal_dataframe = pd.read_excel(file_path, sheet_name=places_list[0])
type_uses = temporal_dataframe.iloc[0,4:7].tolist()
print(type_uses)

['Ancestral reportado/ no comprobado', 'Ancestral segun fuentes vivas', 'Cientificamente comprobado ']

In [ ]:
#Current and scientific names are obtained from datasheets and set in a dictionary
plants_dict = {}
for place in places_list:
    list_of_lists_names = []
    for i in range(cities_dataframes[place].shape[0]):
        list_of_lists_names.append(cities_dataframes[place].iloc[i,2:4].tolist())
    plants_dict[place] = list_of_lists_names
#Current and scientific names are printed (Dictionary)
plants_dict[places_list[4]]

[['Llantén', 'Plantago major'],
 ['Flor de Tilo', 'Tilia platyphyllos Scop'],
 ['Hierba Mora', 'Solanum americanum'],
 ['Borraja', 'Borago officinalis L.\nBOR-001'],
 ['Tomillo', 'Thymus vulgaris L.\nLAM-022'],
 ['Eucalipto', 'Eucalyptus globulus\nLabill.\nMYR-021'],
 ['Verbena', 'Verbena litoralis Kunth\nVER-008'],
 ['Ruda', 'Ruta graveolens L.\nRUT-001'],
 ['Matico', 'Piper aduncum L.\nPIP-008'],
 ['Menta', 'Mentha piperita L.\nLAM-006'],
 ['Arrayan ', 'Myrtus communis L.\nMYR-025 '],
 ['Uña de gato', 'Acacia macracantha\nHumb. & Bonpl. ex\nWilld. LEG-005'],
 ['Chulco', 'Aciotis rubricaulis\nTriana\nMEL-019'],
 ['Ajo', 'Allium sativum L.'],
 ['Zorro guigua', 'Alopecurus spp.\nPOA-023'],
 ['cedrón', 'Aloysia citriodora\nVER-009'],
 ['Marco', 'Ambrosia arborescens\nLam. AST-013'],
 ['Eneldo', 'Anethum graveolens L.\nAPI-011'],
 ['Apio', 'Apium graveolens L.\nAPI-008'],
 ['Ñachag', 'Bidens andicola Kunth\nAST-025'],
 ['Pacunga', 'Bidens pilosa L.\nAST-019'],
 ['Platanillo', 'Canna coccinea Mill.\nCAN-011'],
 ['Hierba de perro', 'Castela tortuosa Liebm'],
 ['Paico', 'Chenopodium\nambrosioides L.\nCHE-002'],
 ['Canela', 'Cinnamomum verum J.\nPresl Lau-021'],
 ['Botoncillo', 'Conocarpus erectus\nCOM-018'],
 ['Mosquera', 'Croton elegans\nEUP-001'],
 ['Corotilla', 'Cumulopuntia corotilla\nK. Schum. ex Vaupel\nCAC-011'],
 ['Hierba Luisa', 'Cymbopogon citratus\nStapf.'],
 ['Iso', 'Dalea coerulea'],
 ['Chupa caballo,\nCola de caballo', 'Equisetum giganteum L.\nEQU-007'],
 ['Geranio', 'Geranium spp.\nGER-001'],
 ['Cerote', 'Hesperomeles obtusifolia\n(Pers.)Lindl.\nROS-016'],
 ['Nogal', 'Juglans nigra L.\nJUG-001'],
 ['Linaza', 'Linum usitatissimum L.\nLIN-013'],
 ['Manzanilla', 'Matricaria\nchamomilla L.\nAST-002'],
 ['Hierba buena', 'Mentha spicata L.\nLAM-005'],
 ['Albahaca', 'Ocimum basilicum L.\nLAM-011'],
 ['Mejorana', 'Origanum majorana L.\nLAM-007'],
 ['Orégano', 'Origanum vulgare L.\nLAM-004'],
 ['Pata conyuyo', 'Peperomia peltigera\nC.DC.\nPIP-021'],
 ['Perejil', 'Petroselinum crispum\n(Mill.) Fuss\nAPI-010'],
 ['Diente de león', 'Taraxacum officinale'],
 ['Ortiga', 'Urtica dioica L.\nURT-001']]

In [ ]:
#Uses and their descriptions are obtained form datasheets
use_dict = {}
for place in places_list:
    list_per_city = []
    for i in range(cities_dataframes[place].shape[0]):
        list_per_plant = []
        count = 0
        for use in type_uses:
            list_per_plant.append([cities_dataframes[place].iloc[i,4+count],use])
            count = count+1
        list_per_city.append(list_per_plant)
    use_dict[place] = list_per_city
#Uses and their descriptions are printed (Dictionary)
use_dict[places_list[2]][3]

[['\xa0Ingerida como tratamiento para\xa0diarrea,\xa0disentería, para evitar el estreñimiento, la indigestión,\xa0flatulencia, contra la\xa0ictericia\xa0y como\xa0laxante. La infusión de hojas como purgante y la raíz como diaforético y diurético.7\u200b3\u200b',
  'Ancestral reportado/ no comprobado'],
 ['Sin información', 'Ancestral segun fuentes vivas'],
 [nan, 'Cientificamente comprobado ']]

In [ ]:
#Previous research are obtained from datasheets
research_prev_dict = {}
for place in places_list:
    list_prev_res = []
    for i in range(cities_dataframes[place].shape[0]):
        list_prev_res.append(cities_dataframes[place].iloc[i,10:13].tolist())
    research_prev_dict[place] = list_prev_res
#Previous research are printed
research_prev_dict[places_list[0]][18]
#research_prev_dict[places_list[4]][13]

['Sapkota, B., Devkota, H. P., & Poudel, P. (2022). Citrus maxima (Brum.) Merr. (Rutaceae): Bioactive Chemical Constituents and Pharmacological Activities. Evidence-based Complementary And Alternative Medicine, 2022, 1-16. https://doi.org/10.1155/2022/8741669                                                                              https://onlinelibrary.wiley.com/doi/full/10.1155/2022/8741669',
 nan,
 '\xa0']

In [ ]:
#Toponimo features are obtained from datasheets
toponimo_dict = {}
for place in places_list:
    list_topo = []
    for i in range(cities_dataframes[place].shape[0]):
        list_topo.append(cities_dataframes[place].iloc[i,7:10].tolist())
    toponimo_dict[place] = list_topo
#Toponimo features are printed 
toponimo_dict[places_list[4]]

[['The native range of this species is Temp. Eurasia to Arabian Peninsula, Macaronesia, N. & S. Africa.(1)',
  'Se comercializan las hojas  frescas',
  'Sede del Jambi Mascari en Cotacachi'],
 ['The native range of this species is Azores, Europe to W. Iran (1)',
  'Se comercializan las hojas y flores',
  'Cotacahi, Quiroga '],
 ['The native range of this species is W. & S. Europe to Temp. E. Asia, Macaronesia, N. & NE. Tropical Africa. (1)',
  'Se comercializan las hojas y flores',
  'Cotacahi, Quiroga , Azama'],
 ['The native range of this species is W. & Central Medit (1)',
  nan,
  'Cotacachi/ Laguna de cuicocha '],
 ['The native range of this species is SW. Europe, SE. Italy (1)', nan, nan],
 ['The native range of this species is S. Victoria to E. Tasmania. (1)',
  nan,
  nan],
 ['The native range of this species is Mexico to S. Tropical America.(1)',
  nan,
  nan],
 ['The native range of this genus is Macaronesia, Medit.(1)', nan, nan],
 ['The native range of this species is Mexico to Tropical America.(1)',
  nan,
  nan],
 ['The native range of this hybrid is Europe to Central Asia. (1)', nan, nan],
 ['Antonio Ante, Ibarra y OtavaloThe native range of this species is Macaronesia to Pakistan (1)',
  nan,
  nan],
 ['The native range of this species is Central & S. Tropical America to Trinidad. (1)',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is Central Asia to NE. Iran (1)',
  nan,
  'Los Andes Cotacachi Jatuk Cem'],
 ['Antonio Ante, Ibarra y Otavalo', nan, 'Los Andes Cotacachi Jatuk Cem'],
 ['The native range of this species is S. Bolivia to NW. Argentina. (1)',
  nan,
  nan],
 ['The native range of this species is W. South America to Chile (Coquimbo) (1)',
  nan,
  nan],
 ['The native range of this species is Canary Islands, Medit. to Arabian Peninsula. (1)',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, 'Los Andes Cotacachi Jatuk Cem'],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is America, Subantarctic Islands (1)',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['(1)anti-inflammatory, in the treatment of toothache, wounds, tonsillitis an warts. It is also a powerful purgative',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is S. India, Sri Lanka. (1)', nan, nan],
 ['The native range of this species is W. South America.(1)', nan, nan],
 ['The native range of this species is Subarctic & Temp. Northern Hemisphere. (1)',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is Macaronesia, N. Africa, Temp. Eurasia to Indo-China.  (1)',
  nan,
  nan],
 ['The native range of this species is Europe to China. (1)',
  'Cotama, Silvestre, se comercializa la flor y las hojas',
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is Macaronesia to China. (1)', nan, nan],
 ['The native range of this species is Ecuador. (1)', nan, nan],
 ['Occurs naturally in Western Europe from the British Isles\nto the Iberian Peninsula (2)',
  nan,
  nan],
 ['The native range of this species is Macaronesia, Europe to Siberia, NW. Africa (1)',
  nan,
  'Comunidades de Quitugo '],
 ['The native range of this species is Europe to Siberia and W. China, NW. Africa.(1)',
  nan,
  nan]]

In [ ]:
#Total of register plants are obtained
total_plants = 0
for key, item in plants_dict.items():
    total_plants = total_plants + len(item)
    print(f"Plants in {key} are {len(item)}")
#Total plants is printed
total_plants

Plants in Antonio Ante are 42
Plants in Urcuquí are 34
Plants in Pimampiro are 10
Plants in Otavalo are 19
Plants in Cotacachi are 44
Plants in Ibarra are 31

180

### Data cleaning of the excel document

In [ ]:
!pip install nltk

Requirement already satisfied: nltk in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (3.9.1)
Requirement already satisfied: click in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (from nltk) (8.1.8)
Requirement already satisfied: joblib in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (from nltk) (4.67.1)

[notice] A new release of pip is available: 25.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [ ]:
import nltk
import re

In [ ]:
from nltk.tokenize import sent_tokenize
nltk.download('punkt_tab')

# Descargar datos necesarios para la tokenización de oraciones (solo es necesario una vez)
nltk.download('punkt')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     /home/aldrinchp/nltk_data...
[nltk_data]   Package punkt_tab is already up-to-date!
[nltk_data] Downloading package punkt to /home/aldrinchp/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [ ]:
#Input: A list
#Output: A corrected list
def correct_string(lista,option):
    for i in range(len(lista)):
        if pd.isna(lista[i]):
            continue
        
        # Eliminar saltos de línea y espacios adicionales
        lista[i] = lista[i].replace('\n', ' ').strip()
        lista[i] = re.sub(r'\s+', ' ', lista[i])  # Eliminar espacios múltiples

        if lista[i] == '':
                lista[i] = np.nan
            
        if option == 1:
            palabras = lista[i].split()
            palabras[0] = palabras[0].capitalize()
            lista[i] = " ".join(palabras)
            
            
        elif option == 2:
            # Dividir en oraciones y capitalizar cada una
            lista[i] = re.sub(r'[^\w\s.,;:!?¡¿áéíóúÁÉÍÓÚñÑ]', '', lista[i]) #Mantener caracteres Unicode imprimibles**
            sentences = sent_tokenize(lista[i])
            lista[i] = ' '.join([s.capitalize() for s in sentences])  # Capitalizar cada oración
        elif option == 3:
            continue

        
        #r'[^\x20-\x7E\n]'
    return lista
    #Here, It could be deleted and there will be not problem

In [ ]:
for city in places_list:
    for plant in plants_dict[city]:
        correct_string(plant,1)
        
plants_dict[places_list[4]]

[['Llantén', 'Plantago major'],
 ['Flor de Tilo', 'Tilia platyphyllos Scop'],
 ['Hierba Mora', 'Solanum americanum'],
 ['Borraja', 'Borago officinalis L. BOR-001'],
 ['Tomillo', 'Thymus vulgaris L. LAM-022'],
 ['Eucalipto', 'Eucalyptus globulus Labill. MYR-021'],
 ['Verbena', 'Verbena litoralis Kunth VER-008'],
 ['Ruda', 'Ruta graveolens L. RUT-001'],
 ['Matico', 'Piper aduncum L. PIP-008'],
 ['Menta', 'Mentha piperita L. LAM-006'],
 ['Arrayan', 'Myrtus communis L. MYR-025'],
 ['Uña de gato', 'Acacia macracantha Humb. & Bonpl. ex Willd. LEG-005'],
 ['Chulco', 'Aciotis rubricaulis Triana MEL-019'],
 ['Ajo', 'Allium sativum L.'],
 ['Zorro guigua', 'Alopecurus spp. POA-023'],
 ['Cedrón', 'Aloysia citriodora VER-009'],
 ['Marco', 'Ambrosia arborescens Lam. AST-013'],
 ['Eneldo', 'Anethum graveolens L. API-011'],
 ['Apio', 'Apium graveolens L. API-008'],
 ['Ñachag', 'Bidens andicola Kunth AST-025'],
 ['Pacunga', 'Bidens pilosa L. AST-019'],
 ['Platanillo', 'Canna coccinea Mill. CAN-011'],
 ['Hierba de perro', 'Castela tortuosa Liebm'],
 ['Paico', 'Chenopodium ambrosioides L. CHE-002'],
 ['Canela', 'Cinnamomum verum J. Presl Lau-021'],
 ['Botoncillo', 'Conocarpus erectus COM-018'],
 ['Mosquera', 'Croton elegans EUP-001'],
 ['Corotilla', 'Cumulopuntia corotilla K. Schum. ex Vaupel CAC-011'],
 ['Hierba Luisa', 'Cymbopogon citratus Stapf.'],
 ['Iso', 'Dalea coerulea'],
 ['Chupa caballo, Cola de caballo', 'Equisetum giganteum L. EQU-007'],
 ['Geranio', 'Geranium spp. GER-001'],
 ['Cerote', 'Hesperomeles obtusifolia (Pers.)Lindl. ROS-016'],
 ['Nogal', 'Juglans nigra L. JUG-001'],
 ['Linaza', 'Linum usitatissimum L. LIN-013'],
 ['Manzanilla', 'Matricaria chamomilla L. AST-002'],
 ['Hierba buena', 'Mentha spicata L. LAM-005'],
 ['Albahaca', 'Ocimum basilicum L. LAM-011'],
 ['Mejorana', 'Origanum majorana L. LAM-007'],
 ['Orégano', 'Origanum vulgare L. LAM-004'],
 ['Pata conyuyo', 'Peperomia peltigera C.DC. PIP-021'],
 ['Perejil', 'Petroselinum crispum (Mill.) Fuss API-010'],
 ['Diente de león', 'Taraxacum officinale'],
 ['Ortiga', 'Urtica dioica L. URT-001']]

In [ ]:
for city in places_list:
    for plant in use_dict[city]:
        for element in plant:
            correct_string(element,2)
use_dict[places_list[2]][3]

[['Ingerida como tratamiento para diarrea, disentería, para evitar el estreñimiento, la indigestión, flatulencia, contra la ictericia y como laxante. La infusión de hojas como purgante y la raíz como diaforético y diurético.73',
  'Ancestral reportado no comprobado'],
 ['Sin información', 'Ancestral segun fuentes vivas'],
 [nan, 'Cientificamente comprobado']]

In [ ]:
for city in places_list:
    for plant in research_prev_dict[city]:
            correct_string(plant,3)
research_prev_dict[places_list[0]][18]

['Sapkota, B., Devkota, H. P., & Poudel, P. (2022). Citrus maxima (Brum.) Merr. (Rutaceae): Bioactive Chemical Constituents and Pharmacological Activities. Evidence-based Complementary And Alternative Medicine, 2022, 1-16. https://doi.org/10.1155/2022/8741669 https://onlinelibrary.wiley.com/doi/full/10.1155/2022/8741669',
 nan,
 nan]

In [ ]:
for place in places_list:
    for plant in toponimo_dict[place]: 
        correct_string(plant,1)

toponimo_dict[places_list[4]]

[['The native range of this species is Temp. Eurasia to Arabian Peninsula, Macaronesia, N. & S. Africa.(1)',
  'Se comercializan las hojas frescas',
  'Sede del Jambi Mascari en Cotacachi'],
 ['The native range of this species is Azores, Europe to W. Iran (1)',
  'Se comercializan las hojas y flores',
  'Cotacahi, Quiroga'],
 ['The native range of this species is W. & S. Europe to Temp. E. Asia, Macaronesia, N. & NE. Tropical Africa. (1)',
  'Se comercializan las hojas y flores',
  'Cotacahi, Quiroga , Azama'],
 ['The native range of this species is W. & Central Medit (1)',
  nan,
  'Cotacachi/ Laguna de cuicocha'],
 ['The native range of this species is SW. Europe, SE. Italy (1)', nan, nan],
 ['The native range of this species is S. Victoria to E. Tasmania. (1)',
  nan,
  nan],
 ['The native range of this species is Mexico to S. Tropical America.(1)',
  nan,
  nan],
 ['The native range of this genus is Macaronesia, Medit.(1)', nan, nan],
 ['The native range of this species is Mexico to Tropical America.(1)',
  nan,
  nan],
 ['The native range of this hybrid is Europe to Central Asia. (1)', nan, nan],
 ['Antonio Ante, Ibarra y OtavaloThe native range of this species is Macaronesia to Pakistan (1)',
  nan,
  nan],
 ['The native range of this species is Central & S. Tropical America to Trinidad. (1)',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is Central Asia to NE. Iran (1)',
  nan,
  'Los Andes Cotacachi Jatuk Cem'],
 ['Antonio Ante, Ibarra y Otavalo', nan, 'Los Andes Cotacachi Jatuk Cem'],
 ['The native range of this species is S. Bolivia to NW. Argentina. (1)',
  nan,
  nan],
 ['The native range of this species is W. South America to Chile (Coquimbo) (1)',
  nan,
  nan],
 ['The native range of this species is Canary Islands, Medit. to Arabian Peninsula. (1)',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, 'Los Andes Cotacachi Jatuk Cem'],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is America, Subantarctic Islands (1)',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['(1)anti-inflammatory, in the treatment of toothache, wounds, tonsillitis an warts. It is also a powerful purgative',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is S. India, Sri Lanka. (1)', nan, nan],
 ['The native range of this species is W. South America.(1)', nan, nan],
 ['The native range of this species is Subarctic & Temp. Northern Hemisphere. (1)',
  nan,
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is Macaronesia, N. Africa, Temp. Eurasia to Indo-China. (1)',
  nan,
  nan],
 ['The native range of this species is Europe to China. (1)',
  'Cotama, Silvestre, se comercializa la flor y las hojas',
  nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['Antonio Ante, Ibarra y Otavalo', nan, nan],
 ['The native range of this species is Macaronesia to China. (1)', nan, nan],
 ['The native range of this species is Ecuador. (1)', nan, nan],
 ['Occurs naturally in Western Europe from the British Isles to the Iberian Peninsula (2)',
  nan,
  nan],
 ['The native range of this species is Macaronesia, Europe to Siberia, NW. Africa (1)',
  nan,
  'Comunidades de Quitugo'],
 ['The native range of this species is Europe to Siberia and W. China, NW. Africa.(1)',
  nan,
  nan]]

In [ ]:
#places_list[1]
#plants_dict[places_list[5]]
#curret_name tm, scitific ob,id_place ob
#toponimo_dict[places_list[5]]
#origin temp, comercial_distr temp, distri temp,id_plant ob
#use_dict[places_list[2]][1]
#type_use ob , description ob, id_plant ob
#research_prev_dict[places_list[4]]
#title tmp, link ob
use_dict[places_list[0]][0]

[['La infusión de la planta hojas, flores y ramas se usa para tratar el dolor de estómago, cólicos intestinales e indigestión, lavados de la vista y para tratar resfríos, cólicos y el dolor de estómago, calmar dolores de abdomen, cabeza, ri;ones y vejiga. Con la planta se realizan baños de vapor para eliminar las espinillas. La infusión de la planta se usa para tratar la gripe, bronquitis en los niños, golpes, lastimados, diarreas, el cólico frío e irritaciones de los ojos. Las flores se emplean para aliviar el resfrío de la cabeza. Las flores y ramas se usan para tratar infecciones e hinchazones . La infusión se usa para tratar inflamaciones, el insomnio, cólicos y resfríos. La planta entera, en infusión, se emplea para tratar afecciones de la piel como granos e inflamación en los labios vaginales . Sirve como diurético, antiinflamatorio y antiespasmódico. Se usa para tratar cólicos, la diarrea, heridas infectadas, la sordera e irritación de los ojos mestiza, etnia no especificadapichincha. Se usa para aliviar cólicos etnia no especificadacañar. Utilizada para tratar los espamos y la tos de los resfríos kichwa de la sierratungurahua 3',
  'Ancestral reportado no comprobado'],
 ['Dolor de barriga,', 'Ancestral segun fuentes vivas'],
 ['1 antioxidant, antibacterial, antifungal, anticancer, antidiabetic, antiparasitic, antiinflammatory, antidepressant, antipyretic, antiallergic, and analgesic activities. 2antiproliferative, antimigratory, antiangiogenic, and antiadenoviral activities.',
  'Cientificamente comprobado']]

In [ ]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /home/aldrinchp/Documents/Proyecto Plantas/.venv/lib/python3.11/site-packages (9.3.0)

[notice] A new release of pip is available: 25.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

### Inserting dataa

In [ ]:
import mysql.connector

# Database connection
connection = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="root",
    password="123456789",
    database="Medicinal_plants_proyect"
)

In [ ]:
# Verificar conexión
if connection.is_connected():
    print("Conexión exitosa a MySQL")
    cursor = connection.cursor()
    cursor.execute("SELECT DATABASE();")
    db_name = cursor.fetchone()
    print("Base de datos actual:", db_name[0])
else:
    print("Fuera de conexion a MySQL")

Conexión exitosa a MySQL
Base de datos actual: Medicinal_plants_proyect

In [ ]:
querys = ["INSERT INTO locations (city_name, province_name) VALUES (%s,%s)",
          "INSERT INTO plants (location_id, current_name, scientific_name) VALUES (%s,%s,%s)",
          "INSERT INTO previous_researches (id_plant, title, link) VALUES (%s,%s,%s)",
          "INSERT INTO toponimos (id_plant, origin, comercial_distribution,distribution) VALUES (%s,%s,%s,%s)",
          "INSERT INTO uses (id_plant, description, type_use) VALUES (%s,%s,%s)",
]

In [ ]:
data1 = []
for place in places_list:
    tempo = [place,"Imbabura"]
    data1.append(tempo)
data1

[['Antonio Ante', 'Imbabura'],
 ['Urcuquí', 'Imbabura'],
 ['Pimampiro', 'Imbabura'],
 ['Otavalo', 'Imbabura'],
 ['Cotacachi', 'Imbabura'],
 ['Ibarra', 'Imbabura']]

In [ ]:
# Execute the query for multiple records
cursor.executemany(querys[0],data1)
# Commit the changes
connection.commit()
# Confirm the number of rows inserted
print(f"{cursor.rowcount} rows inserted.")

6 rows inserted.

In [ ]:
count = 1
number = 0
for place in places_list:
    for plant in plants_dict[place]:
        tempo = plant.copy()
        tempo.insert(0,count)
        cursor.execute(querys[1],tempo)
        number = number + 1
    count = count + 1
# Commit the changes
connection.commit()
# Confirm the number of rows inserted
print(f"{number} rows inserted.")
#Here It is necesarr

180 rows inserted.

In [ ]:
count = 1
number = 0
for place in places_list:
    for plant in use_dict[place]:
        for use in plant:
            tempo = use.copy()
            tempo.insert(0,count)
            if pd.isna(use[0]):
                continue
            cursor.execute(querys[4],tempo)
            number = number + 1
        count = count + 1
# Commit the changes
connection.commit()
# Confirm the number of rows inserted
print(f"{number} rows inserted.")

456 rows inserted.

In [ ]:
count = 1
number = 0
for place in places_list:
    for plant in research_prev_dict[place]:
        for element in plant:
            tempo = []
            if pd.isna(element):
                continue
            tempo.append(count)
            tempo.append(None)
            tempo.append(element)
            cursor.execute(querys[2],tempo)
            number = number + 1 
        count = count + 1
# Commit the changes
connection.commit()
# Confirm the number of rows inserted
print(f"{number} rows inserted.")

335 rows inserted.

In [ ]:
count = 1
number = 0 
for place in places_list:
    for plant in toponimo_dict[place]:
        tempo = []
        for element in plant:
            if pd.isna(element):
                tempo.append(None)
            else:
                tempo.append(element)
        if tempo.count(None) == len(tempo):
            count = count + 1
            continue
        else: 
            tempo.insert(0,count)
            cursor.execute(querys[3], tempo)
            number = number + 1
            count = count + 1

# Commit the changes
connection.commit()
# Confirm the number of rows inserted
print(f"{number} rows inserted.")

178 rows inserted.

In [ ]:
# Close the connection
cursor.close()
connection.close()

In [ ]:
# Verificar conexión
if connection.is_connected():
    print("Conexión exitosa a MySQL")
    cursor = connection.cursor()
    cursor.execute("SELECT DATABASE();")
    db_name = cursor.fetchone()
    print("Base de datos actual:", db_name[0])
else:
    print("Fuera de conexion a MySQL")

Fuera de conexion a MySQL